.stats{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 60px 0 30px 0;
	&_i{
		display: flex;
		flex-direction: column;
		aling-items: center;
		justify-content: center;
		width: 216px;
		height: 216px; 
		border: 5px solid #2b2d34;
		border-radius: 200px;
		text-align: center;
    	margin: 0 50px 30px;
		&_label>label{
			cursor: pointer;
			padding: 0 15px;
			background: #2b2d34;
			line-height: 36px;
			font-size: 14px;
			margin-right: 5px;
			transition: all 0.3s ease;
			user-select: none;
			display: inline-block;
		}
		&_name{
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 1px;
			margin-top: 14px;
		}
		&_count{
			display: inline-block;
			white-space: nowrap;
			position: relative;
			margin: 18px 0 28px 0;
			span{
				font-size: 24px;
				font-weight: bold;
				line-height: 39px;
			}
			sup{
				vertical-align: top;
				position: absolute;
			}
		}
		&_count_24{
			display: inline-block;
			white-space: nowrap;
			position: relative;
			margin: 18px 0 28px 0;
			span{
				font-size: 25px;
				font-weight: bold;
				line-height: 39px;
			}
			sup{
				vertical-align: top;
				position: absolute;
			}
		}
		&_percent{
			display: none;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 1px;
			&-true{
				color: #3effbd;
			}
			&-false{
				color: #ff2e49;
			}
		}
	}
}
.stats_users{
	display: none;
}
.success{
	border-color: #67af55;
	color: #67af55;
}
.waiting{
	border-color: #edb140;
	color: #edb140;
}
.failed{
	border-color: #c01f36;
	color: #c01f36;
}
.active{
	color: #edb140;
}
